.services {
   &__bloc {
      .col {
         padding-bottom: 25px;
      }
   }
}

.card-activities {
   display: flex;
   height: 100%;
   align-items: center;
   background-color: #FFF;
   padding: 5px 34px 5px 0;
   overflow: hidden;

   &__icon {
      margin-right: 15px;
      @media screen and (min-width: 768px) {
         margin-right: 20px;
      }

      @media screen and (min-width: 1360px) {
         margin-right: 25px;
      }
   }

   &__desc {
      font-weight: 500;
      font-size: 20px;
      line-height: 1.3;
      text-transform: uppercase;
      color: $primary;
   }

   .svg {
      transition: all 0.2s linear;
      transform-origin: center;
      transform-box: fill-box;
   }

   &--1{
      .path-top,.path-bottom{
        transition: .3s;
       
        transform-box: fill-box;
     }
     .path-top{
        transform-origin: 37px 37px;
     }
     .path-bottom{
        transform-origin: 27px 22px;
     }
  }
  &--1:hover{
     .path-top{
        transform: rotate(92deg);
     }
     .path-bottom{
        transform: rotate(92deg);
     }
  }
  &--2{
     .path-left{
        transition: .3s;
     }
     .path-left-rotate{
        transition: .3s;    
        transform-origin: center;
        transform-box: fill-box;
     }
     &:hover{
       
        .path-left{
           transform: translateX(-15px);
        }
        .path-left-rotate{
           transform: translateX(-15px) rotate(300deg);
        }
     }
  }
  &--3{
     &:not(:hover) .path-top{
        transform: translateY(5px);
        opacity: 0;
     }
     .path-top{
        transition: .3s;
       
     }
  }
  &--4{
     .svg {
         transform-origin: center;
         transform-box: fill-box;
         transition: .3s; 
     }

     &:hover {
         .go-svg-scale {
            transform: scaleX(1.07);
         }

         .go-svg-rotate {
            transform: scaleX(1.2);
         }
      }
  }
  &--5 {
      .svg {
         transform-origin: center;
         transform-box: fill-box;
         transition: .3s; 
      }

      .go-svg-opacity {
         opacity: 0;
      }

      &:hover {
         .go-svg-scale {
            transform: rotate(20deg) translateY(3px) translateX(1px);
         }

         .go-svg-opacity {
            opacity: 1;
         }
      }
  }

  &--6 {
      .svg {
         transform-origin: center;
         transform-box: fill-box;
         transition: .3s; 
      }

      &:hover {
         .go-svg-down {
            transform: translateY(6px);
         }

         .go-svg-up {
            transform: translateY(-6px);
         }
      }
  }
  &--7{
     .path-bottom{
        transition: .3s;
        transform-origin: top;
        transform-box: fill-box;
     }
     .path-top{
        transition: .3s;
        transform-origin: top;
        transform-box: fill-box;
     }
     &:hover{
        .path-bottom{
           transform: scale(1.1) translateY(-5px);
        }
        .path-top{
           transform: scale(.9) translateY(5px);
        }
     }
  }
  &--8{
     .path-fill,.path-blue{
        transition: .3s;
     }
     &:hover{
        .path-fill{
           fill: #0088D4 !important;
        }
        .path-blue{
           fill: #193193 !important;
        }
     }
  }

  &--9 {
      .svg {
         transition: .3s;
         transform-origin: top;
         transform-box: fill-box;
      }

      &:hover {
         .go-svg-right {
            transform: translateX(8px);
         }
      }
  }

   &--10 {
      &:hover {
         .svg-rotate-left {
            transform: rotate(7deg);
         }
         .svg-rotate-right {
            transform: rotate(-7deg);
         }
         .svg-rotate {
            transform: rotate(90deg);
         }
      }
   }

   &--11 {
      &:hover {
         .svg-go-left {
            transform: translateX(-5px);
         }
         .svg-go-right {
            transform: translateX(5px);
         }
      }
   }

   &--12 {
      &:hover {
         .svg-go-left {
            transform: translateX(-10px);
         }
         .svg-go-right {
            transform: translateX(10px);
         }
      }
   }
}